<!-- Navigation -->
<nav class="navbar navbar-light bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-light font-weight-bold" href="https://github.com/davidedc97/UniverCity/wiki">UniverCity</a>
        <%= link_to "Accedi", new_user_session_path, :class => "btn btn-primary font-weight-bold" %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    </div>
</nav>

<!-- Masthead -->
<div style="height: 100vh">
    <header class="masthead text-white text-center h-100">
        <!-- non so se togliere scurisce un po l'immagine è da vedere se piace (a me non tanto) -->
        <%= image_tag("UniverCity.svg", :class => "bb") %></br></br>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-9 m-auto">
                    <center>
                        <h1 class="mb-5">
                            Trova tutti gli appunti universitari di cui hai bisogno, tutte le volte che ne hai bisogno</h1>
                        <%= link_to "Registrati ora", new_user_registration_path, :class => "btn btn-light mx-auto text-dark font-weight-bold pl-4 pr-4 pt-2 pb-2 m-5" %>
                        <a class="btn btn-light mx-auto text-dark font-weight-bold pl-4 pr-4 pt-2 pb-2 m-5"
                            href="...">Scarica l'app</a>
                    </center>
                </div>
                <div>
                    <button type="button" style="border-radius:25px;border-style:none;float:right;" onClick="document.getElementById('middle').scrollIntoView();"><i class="fas fa-arrow-down"></i></button>
                </div>
            </div>
    
        </div>
    </header>
</div>


