<div class="row align-items-center">
        	<div class="col-1" style="min-width: 70px;">
				<% if Document.where(uuid: cronologium.document_id).first.flag %>
					<span class="badge badge-pill badge-warning text-dark">Mashup</span>
				<% else %>
					<span class="badge badge-pill badge-primary text-light">Appunto</span>
				<% end %>
			</div>
            <%= link_to("#{Document.where(uuid: cronologium.document_id).first.title}",document_path(Document.where(uuid: cronologium.document_id).first), :class => 'col text-left cursor-active')  %>
            <%= link_to("#{Document.where(uuid: cronologium.document_id).first.creator}",student_path(Document.where(uuid: cronologium.document_id).first.creator), :class => 'col text-left cursor-active')  %>
</div>
