<div class="row align-items-center">
        	<div class="col-1" style="min-width: 70px;">
				<span class="badge badge-pill badge-warning text-dark">Mashup</span>
			</div>
            <docTitle class="col text-left cursor-active" >${title}</docTitle>
            <profile class="col text-center cursor-active" ><%= @preferiti.creator %></profile>
</div>
