<div class="row align-items-center">
            <%= link_to("#{student.username}",student_path(student), :class => 'col text-left cursor-active')  %>
            <div class="col text-center cursor-active"><%= student.university %></div>
            <div class="col text-center cursor-active"><%= student.faculty %></div>
</div>
