<div class="row">
  <div class="col-md-8">
    <% if @students.any? %>
      <h3>Risultati (<%= @students.count %>)</h3>
      <ol>
        <%= render @students %>
      </ol>
    <% end %>
  </div>
</div>
