<div class="row">
  <div class="col-md-8">
    <% if @student.preferiti.any? %>
      <h3>Preferiti (<%= @student.preferiti.count %>)</h3>
      <ol class="microposts">
        <%= render @preferiti %>
      </ol>
    <% end %>
  </div>
</div>
