<div class="row">
  <div class="col-md-8">
    <% if @documents.any? %>
      <h3>Risultati (<%= @documents.count %>)</h3>
      <ol class="microposts">
        <%= render @documents %>
      </ol>
    <% end %>
  </div>
</div>
